body {
  color: #4ea8a5;
  font-size: 16px;
  background: #70d6d2;
  font-family: 'Helvetica', 'Apple Color Emoji', Arial, sans-serif,
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

main {
  width: 500px;
  margin: 3em auto;
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0em 1em 2em -1em #1eb1ab;
}

h1 {
  margin-top: 0;
}

.step {
  margin: auto;
  list-style: none;
  color: #ccc;
}

.step > form {
  display: none;
}

.active {
  color: #222;
}

.active > form {
  display: block;
}

input {
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 3px;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
}

button {
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #5fc7c3;
  border-radius: 3px;
  background-color: #5fc7c3;
  color: white;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

/* Add padding between buttons */
button + button {
  margin-left: 10px;
}

footer {
  width: 100%;
  text-align: center;
  color: #206764;
}

footer > a {
  color: #206764;
  text-decoration: none;
  font-weight: bold;
}
